asgiref==3.2.10
backcall==0.2.0
blessings==1.7
bpython==0.19
certifi==2020.6.20
chardet==3.0.4
curtsies==0.3.4
decorator==4.4.2
Django==3.1
django-admin-interface==0.14.1
django-colorfield==0.3.2
django-extensions==3.0.5
django-flat-responsive==2.0
django-flat-theme==1.1.4
djangorestframework==3.12.2
greenlet==0.4.16
idna==2.10
ipdb==0.13.3
ipython==7.17.0
ipython-genutils==0.2.0
jedi==0.17.2
mysqlclient==2.0.1
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.6
ptyprocess==0.6.0
Pygments==2.6.1
pygraphviz==1.6
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
traitlets==4.3.3
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
