{% extends "rest_framework/base.html" %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/3.4.1/darkly/bootstrap.min.css" type="text/css">

    <style>
    .navbar-inverse {
        background-color: #1b1b1b !important;
        border-bottom: 1px solid #573f69 !important;
    }

    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
        color: #7484b0 !important;
    }

    .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
        color: #7484b0 !important;
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
        color: #dc9dff;
    }

    a:hover, a:focus {
        color: #ff91ce;
        text-decoration: underline;
    }

    .breadcrumb a {
        color: #777;
    }

    .breadcrumb>li+li:before {
        color: #c2c1c3 !important;
    }

    .prettyprint {
        background-color: #121b3b !important;
        border: 1px solid #767676 !important;
        padding-left: 32px !important;
    }

    .response-info .prettyprint {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .request-info .prettyprint {
        padding-top: 16px; !important;
        padding-bottom: 16px !important;
    }

    pre {
        font-size: 15px !important;
    }

    .pln {
       color: #95ecfc !important;
    }

    .pun, .opn, .clo {
        color: #ff91ce !important;
    }    

    .str, .atv {
        color: #d9d8d6 !important;
    }

    b, strong {
        color: #7484b0 !important;
    }

    .lit {
        color: #f2f9a1 !important;
    }

    .kwd, .prettyprint .tag {
        color: #00a440 !important;
    }

    .btn-primary {
        color: #ffffff;
        background-color: #464545 !important;
        border-color: #525252 !important;
    }

    .btn-primary:hover {
        background-color: #545454 !important;
    }

    .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
        outline-color: #464545 !important;
    }

    .pagination>li>a, .pagination>li>span {
        background-color: #985b8a !important;
    }

    .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus  {
        background-color: #673c5d !important;.
    }

.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
    background-color: #7f4873 !important;
}

    </style>
{% endblock %}

{% block branding %}
    <span>
              
    <a class="navbar-brand" rel="nofollow" href="/api/">
        Buzz API
    </a>
              
    </span>
{% endblock %}